.chat-screen_texts{
    padding: 0;
    list-style-type: none;

}
.chat-screen_texts > .text{
    background-color: #5333e3;
    color: white;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;

}
.chat-screen_texts > .text::after{
    content: "";
    border-right: 16px solid #5333e3;
    border-bottom: 16px solid transparent;
    position: absolute;
    left: -10px;
    top:10px;
}
.chat-screen_texts > .text:hover{
    background-color: #2100b5;
    transition: background-color 1500ms 0.2s ease-in;
}
.chat-screen_texts > .text:hover::after{
    border-right: 16px solid #2100b5;
    transition: border-right 1500ms 0.2s ease-in;
}
