.chat-screen_texts{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /**/
}
.chat-screen_texts > .text{
    background-color: #ffffff;
    color: #5333e3;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;

}
.chat-screen_texts > .text2{
    background-color: #5333e3;
    color: white;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    right: 20px;
    align-self: flex-end; /*맨 오른쪽으로*/
}
.chat-screen_texts > .text::after{
    content: "";
    border-right: 16px solid #ffffff;
    border-bottom: 16px solid transparent;
    position: absolute;
    left: -10px;
    top:10px;
}
.chat-screen_texts > .text2::after{
    content: "";
    border-left: 16px solid #5333e3;
    border-bottom: 16px solid transparent;
    position: absolute;
    right: -10px;
    top:10px;
}
.chat-screen_texts > .text:hover{
    background-color: #efebff;
    transition: background-color 1500ms 0.2s ease-in;
}
.chat-screen_texts > .text:hover::after{
    border-right: 16px solid #efebff;
    transition: border-right 1500ms 0.2s ease-in;
}
.chat-screen_texts > .text2:hover{
    background-color: #2100b5;
    transition: background-color 1500ms 0.2s ease-in;
}
.chat-screen_texts > .text2:hover::after{
    border-left: 16px solid #2100b5;
    transition: border-left 1500ms 0.2s ease-in;
}