*{
    box-sizing: border-box; /*padding이나 border에 의해 확장되는 것 방지*/
    scroll-behavior: smooth;
}
html, body{
    margin : 0;
}
#container{
    width: 100%;
    max-width: 640px;
    margin : auto;
}
header{
    width: 100%;
    max-width: 640px;
    height: 60px;
    border-bottom: 1px solid #cccc;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}
.header__search{
    display: flex;
    align-items: center;
}
input, button, select{
    height: 30px;
    border : 0.5px solid #dcdddc;
}
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}
img{
    width: 200px;
    height: 200px;
}
.more , .tothetop{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
}
.more{
    color: #fff;
    background-color: #0e7d4b;
    left: 100px;
    bottom: 100px;
}
.tothetop{
    color: #fff;
    background-color: #02311c;
    right: 100px;
    bottom: 100px;
}
.resetBtn {
    cursor: pointer;
    width: 35px;
    text-align: center;
}