#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-div {
  width: 30rem;
  background-color: #474747;
  padding: 0.3rem 2.5rem 1rem;
  border-radius: 1rem;
}
.todo-form {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.todo-form__input {
  flex-grow: 1;
  padding: 0.5rem;
}
.todo-form__input:focus {
  outline: none;
}
.todoItem-div {
  height: 2rem;
  display: flex;
  margin-bottom: 1.3rem;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.todoItem-div__button-delete {
  width: 3rem;
  height: 100%;
  /* margin-left: auto; *이렇게하면 얘만 맨왼쪽으로 붙음 */
  transition: border-color 0.25s;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
}
.todoItem-div__input_checkbox {
  transform: scale(1.3);
}
.todoItem-div__title-line {
  text-decoration: line-through;
  flex-grow: 1;
}
.todoItem-div__title {
  flex-grow: 1;
  text-align: start;
  cursor: pointer;
}
.todoItem-div__title-input {
  border: none;
  outline: none;
  background-color: #474747;
  font-size: 1rem;
}
